/* ============================================================================

		new_footer

============================================================================ */
.footer {
  padding-bottom: 20px;
  background-color: #3c3c3c;
}
.footer .copyright {
  color: white;
  text-align: center;
}
.footer .bnr {
  vertical-align: bottom;
}
.footer .banner {
  display: flex;
  justify-content: space-between;
  max-width: 932px;
  padding: 2rem 0.5rem 0;
  margin: 0 auto 5.9rem;
}
.footer .banner li {
  box-sizing: border-box;
  margin-right: 1rem;
}
.footer .banner li:last-child {
  margin-right: 0;
}
.footer .banner li img {
  max-width: 300px;
  width: 100%;
  height: auto;
}
