@charset "UTF-8";
html {
  font-family: "Meiryo", "メイリオ", "ヒラギノ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #3c3c3c;
  font-size: 16px;
}

body {
  word-wrap: break-word;
}

img {
  vertical-align: bottom;
}

a {
  outline: none;
}

a:hover,
button:hover {
  opacity: 0.7;
}

.g-wrapper {
  margin: 0 auto;
}

.u-container {
  max-width: 1000px;
  margin: 0 auto;
}

*[class*="trunk8_"] {
  display: block;
}

.u-imgWrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.u-spOnly {
  display: none;
}

.u-imgWrap img {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.u-ellipsis {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.g-wrapper {
  background: #fcfffc;
}

.has-modal {
  width: 100vw;
  overflow: hidden;
  position: fixed;
  left: 0;
  z-index: 3;
}

.g-header.is-modal {
  z-index: 3;
}

.g-header.is-modal .shop-name,
.g-header.is-modal .btn-logout {
  z-index: 2;
}

.g-header.is-modal .mod-menu,
.g-header.is-modal .btn-logout {
  opacity: 1;
  pointer-events: all;
}

.u-pageTtl {
  padding: 30px 0 54px;
  background: #fff;
  font-size: 35px;
  text-align: center;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.u-pageTtl:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #00ada6;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

.u-pageTtl .sub {
  display: block;
  margin-top: 15px;
  font-size: 23px;
}

.f-pageHead {
  padding-top: 110px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.mod-pager {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: center;
  justify-content: center;
}

.mod-pager .pager-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.mod-pager .pager-item:hover,
.mod-pager .pager-item.current {
  background: #00ada6;
  border: none;
  color: #fff;
  opacity: 1;
}

.mod-pager .pager-item:hover .arrow,
.mod-pager .pager-item.current .arrow {
  stroke: #fff;
}

.mod-navi .ttl {
  height: 74px;
  padding: 30px 0 0 20px;
  border-bottom: 2px solid #f5f5f5;
  font-size: 22px;
  position: relative;
}
.mod-navi .ttl .small-txt {
  margin-left: 15px;
  font-size: 14px;
}
.mod-navi .ttl .link-txt {
  text-decoration: underline;
  color: #0085ad;
}

.mod-navi .link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: 53px;
  padding: 6px 0 0 30px;
  border-bottom: 2px solid #f5f5f5;
  background: url("/assets/img/entry/pc/common/arr-right.svg") no-repeat right 30px center/8px 12px;
}
.mod-navi .link .open:after,
.mod-navi .link .unpublish:after {
  display: flex;
  align-items: center;
  width: 53px;
  height: 26px;
  padding: 0 10px;
  margin-left: 17px;
  border-radius: 3px;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
}
.mod-navi .link .open:after {
  content: "公開中";
  background: #00ada6;
}
.mod-navi .link .unpublish:after {
  content: "非公開";
  background: #525252;
}
.mod-navi .link.accessmap {
  flex-wrap: wrap;
  line-height: 1.6;
}
.mod-navi .link.accessmap:after {
  content: "※ルーム型・店舗型用の設定項目です";
  display: block;
  color: #f47a7a;
  font-size: 12px;
}
.mod-navi .link.accessmap.unset {
  color: #9d9d9d;
  pointer-events: none;
}
.mod-navi .link.accessmap.unset:after {
  content: "※ルーム型・店舗型用の設定項目です";
}
.mod-navi .link.unset, .mod-navi .link.unset-setting {
  flex-wrap: wrap;
  background: url("/assets/img/entry/pc/common/arr-right-gray.svg") no-repeat right 30px center/8px 12px;
  color: #9d9d9d;
  pointer-events: none;
  padding: 6px 0 0px 30px;
}
.mod-navi .link.unset:after, .mod-navi .link.unset-setting:after {
  content: "※ネット予約を設定してください";
  display: block;
  color: #f47a7a;
  font-size: 12px;
}
.mod-navi .link.unset-setting:after {
  content: "※料金・コース・オプション設定をしてください";
}

.mod-navi .link:nth-child(6) {
  border-bottom: none;
}

.mod-navi .no_link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  padding: 0 0 0 30px;
  border-bottom: 2px solid #f5f5f5;
  background: url("/assets/img/entry/pc/common/arr-right.svg") no-repeat right 30px center/8px 12px;
  background-color: #d6d6d6;
}

.navi-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 80px 0 100px;
}

.navi-list .navi-item {
  width: 312px;
  min-height: 334px;
  background: #fff;
  margin-top: 60px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  overflow: hidden;
}
.navi-list .navi-item:nth-child(3n + 2) {
  margin: 60px calc((100% - 936px) / 2) 0;
}
.navi-list .navi-item .new {
  font-size: 15px;
  line-height: 2;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 29px;
  background: #E36386;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 53%;
  transform: translate(-55px, -53%);
}

.navi-list .navi-item .contents {
  display: block !important;
}

@media screen and (max-width: 1024px) {
  .navi-list .navi-item {
    margin: 60px calc((100% - 624px) / 2 / 2) 0;
  }
  .navi-list .navi-item:nth-child(odd) {
    margin: 60px calc((100% - 624px) / 3 / 2) 0 calc((100% - 624px) / 3);
  }
  .navi-list .navi-item:nth-child(even) {
    margin: 60px calc((100% - 624px) / 3) 0 calc((100% - 624px) / 3 / 2);
  }
}
.mod-menu {
  padding: 38px 0 0;
  background: rgba(245, 244, 242, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.mod-menu .btn-menuClose {
  position: fixed;
  top: 35px;
  right: 55px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .mod-menu .btn-menuClose {
    right: 4%;
    z-index: 1;
  }
}
.manual_link {
  position: relative;
  height: 22px;
  margin-right: 100px;
}
.manual_link a {
  position: absolute;
  right: 0;
  bottom: 4px;
  font-size: 16px;
  font-weight: bold;
}
.manual_link a:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("/assets/img/entry/pc/common/ico_help.svg") 0% 0% no-repeat padding-box;
  padding-right: 20px;
  opacity: 1;
  vertical-align: bottom;
}
.manual_link a:hover {
  color: #00ada6;
  text-decoration: underline;
  text-decoration-color: #00ada6;
}
